
* {
    font-family: 'Montserrat', sans-serif;
}

:root {
    --card-color:#191919;
    --bold-font-color: #eee;
    --font-color: #ccc;
    --card-margin: 32px;
    --card-border-radius: 32px;
    --card-double-border-radius: 32px;
    --card-left-color: #FF3901;
    --card-right-color: #01C7FF;
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;

    background: 
        radial-gradient(circle at 20% 30%, #211, transparent 50%),
        radial-gradient(circle at 30% 20%, #112, transparent 50%),
        radial-gradient(circle at 70% 40%, #212, transparent 50%),
        linear-gradient(to bottom right, #000, #112);
    
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
    height: 100%;
    margin: 0;
}

.page-background{
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    position: fixed;

    background: 
        radial-gradient(circle at 20% 30%, #411, transparent 50%),
        radial-gradient(circle at 30% 20%, #114, transparent 50%),
        radial-gradient(circle at 70% 40%, #414, transparent 50%),
        linear-gradient(to bottom right, #333, #112);
    
    background-blend-mode: overlay, overlay, overlay, overlay, normal;
}

h1,h2,h3,h4{
    color: var(--bold-font-color);
}

h1{
    font-size: 14vh;
    margin-bottom: 16px;
    margin-top: 16px;
}

h2{
    font-size: 8vh;
    margin-bottom: 16px;
    margin-top: 0px;
}

p{
    margin: 0;
    font-size: 4vh;
    color: var(--font-color)
}

.title-card{
    padding: 48px;
}

.card{
    display: grid;
    justify-content: left;
    background-color: var(--card-color);
    filter: drop-shadow(1px 0px 3px var(--card-right-color)) drop-shadow(-1px 0px 3px var(--card-left-color));
    border-radius: var(--card-border-radius);
    transform: translate3d(0,0,0);
    transform-style: preserve-3d;
}

.card::before{
  content: "";
  position: absolute;
  z-index: -2;
  inset: 2px;
  transform: translate3d(0px, 8px, -1px);
  background: linear-gradient(to left, var(--card-right-color), var(--card-left-color));
  filter: blur(8px);
  opacity: 0.8;
  border-radius: var(--card-double-border-radius);
}

/* Reproduces the main element styles */
.card::after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background-color: inherit;
  border-radius: inherit;
  border: inherit;
  box-shadow: inherit;
}

.content-grid{
    display: grid;
    margin-top: -32px;
    padding-bottom: var(--card-margin);
}

.big-card{
    width: auto;
    border-radius: var(--card-border-radius);
    padding: var(--card-margin);
    margin: 0 var(--card-margin);    
}

.title-background{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.centered-section {
    height: 100%; 
    margin: auto;
    margin-top: var(--card-margin);
    margin-bottom: var(--card-margin);;
    display: grid;
    justify-content: left;
    max-width: 600px;
    border-left: 1px solid #777;
    border-right: 1px solid #777;
}
